@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');

html { 
    background: url(../../MainPageBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body { 
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: white;
}

*:focus {
    outline: none;
}

#inputs {
    height: 40px;
    border: 1px solid #c6c6c6;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

select {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    width: 270px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: none;
    color: #afafaf;
    padding: 0;
    float: right;
    padding-left: 5px;
}

#submitLong, #submitLong-addFavorite, #submitLong-rentMovie { 
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #a2d73e;
    border: 1px solid #3b9a00;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

#submitLong-addFavorite { 
    display: none;
}

#submitLong-deleteFavorite { 
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #f24051;
    border: 1px solid #a2202a;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    display: none;
}

#headerTwo { 
    font-size: 40px;
    top: 700px;
    left: 500px;
    position: absolute;
}

#lightbox { 
    background-color:  #f2f2f2;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    text-align: center;
    position: absolute;
    color: black;
    top: 100px;
    left: 200px;
}

#lightboxTwo { 
    background-color:  #f2f2f2;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    text-align: center;
    position: absolute;
    color: black;
    top: 750px;
    left: 200px;
}

#lightboxThree { 
    background-color:  #f2f2f2;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 450px;
    text-align: center;
    position: absolute;
    color: black;
    top: 100px;
    left: 700px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 13%;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}