@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600');

html { 
    background: url(../../MainPageBackground.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body { 
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: white;
}

#inputs {
    width: 200px;
    height: 40px;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
}

.fa {
    height: 26px;
    width: 24px;
    margin-left: 15px;
    margin-top: 7px;
    padding-right: 20px;
    border-right: 1px solid #c6c6c6;
}

input[type="text"], select {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    width: 120px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: none;
    color: #afafaf;
    padding: 0;
    float: right;
    padding-left: 5px;
}

#submitLong { 
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #a2d73e;
    border: 1px solid #3b9a00;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    width: 25%;
    display: block;
    position: relative;
    left: 36%;
}

#lightbox { 
    background-color:  #f2f2f2;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 20px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 1200px;
    text-align: center;
    position: absolute;
    color: black;
    top: 100px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

a:active, a:visited, a:link, a:active {
    text-decoration: none;
}

#submitLong a:hover, #submitLong a:visited, #submitLong a:link, #submitLong a:active
{
    text-decoration: none;
    color: white;
}

#plakat { 
    width: 300px;
    height: 320px;
    float: left;
    margin-bottom: 60px;
}
